.page-main {
  font-family: "Oswald", "Open Sans", sans-serif;
  position: relative;

  &::before {
    content: "";
    background: #63a73a url("../img/index-background-mobile@1x.jpg") no-repeat 50% 0;
    position: absolute;
    width: 100%;
    height: 305px;
    z-index: -1;
  }

  @media (min-resolution: @retina) {
    &::before {
      background: #63a73a url("../img/index-background-mobile@2x.jpg") no-repeat 50% 0;
      background-size: 100% auto;
    }
  }
}

@media (min-width: @mid-size) {
  .page-main::before {
    content: none;
  }
}
