.advantages {
  margin-top: 30px;
  margin-bottom: 40px;
}

.advantages__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: #111111;
  margin: 0;
}

.advantages__list {
  list-style: none;
  padding: 0;
}

.advantages__item {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}
