.button {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  font-family: "Oswald", "Open Sans", sans-serif;
  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
  background-color: #68b738;
  min-height: 40px;
}
