.catalog-main {
  font-family: "Oswald", "Open Sans", sans-serif;
  margin-top: 30px;
}

.catalog-main__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: #111111;
  margin: 0;
}

@media (min-width: @mid-size) {
  .catalog-main__wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 708px;
    padding: 0 30px;
  }
}

@media (min-width: @max-size) {
  .catalog-main__wrapper {
    width: 1220px;
    padding: 0 110px;
  }
}
