.catalog-special {
  background: url("../img/gift-photo-mobile@1x.jpg") no-repeat;
  text-align: center;
  min-height: 290px;
  padding-top: 65px;
}

.catalog-special__description {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  margin: 0;
}
