.main-top {
  padding-top: 30px;
  min-height: 500px;
  text-align: center;
}

.main-top__title {
  color: #ffffff;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  margin-left: 0;
}

.main-top__slogan {
  color: #ffffff;
  font-size: 14px;
  line-height: 14px;
  margin: 0;
}

.main-top__button {
  width: 100%;
}

@media (min-width: @mid-size) {
  .main-top {
    text-align: left;
    margin-left: 90px;
  }

  .main-top__title {
    color: #000000;
  }

  .main-top__slogan {
    color: #000000;
  }
}
