.main-form {
  padding-bottom: 30px;
}

.main-form__legend-title {
  font-size: 14px;
  line-height: 18px;
  color: #111111;
  text-transform: uppercase;
  padding: 0;
}

.main-form__block {
  border: none;
  margin: 0;
  padding: 0;
}

.main-form__label {
  font-size: 16px;
  line-height: 18px;
  color: #222222;
  text-transform: uppercase;
  padding: 0;
}

.main-form__input {
  border: 1px solid #cdcdcd;
}

.main-form__block-radio {
  border: none;
  margin: 0;
  padding: 0;
}

.main-form__legend {
  font-size: 24px;
  line-height: 24px;
  color: #111111;
  padding: 0;
}

.main-form__textarea {
  width: 100%;
}

.main-form__submit {
  width: 100%;
}

.main-form__add {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: #444444;
  margin: 0;
}
