.main-form {
  padding-bottom: 30px;
}

.main-form__legend-title {
  font-size: 14px;
  line-height: 18px;
  color: #111111;
  text-transform: uppercase;
  padding: 0;
  margin-bottom: 40px;
}

.main-form__block {
  border: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #ededed;
  padding-bottom: 10px;
}

.main-form__block-radio {
  border: none;
  border-bottom: 1px solid #ededed;
  margin: 0;
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 0;
}

.main-form__block-checkbox {
  border: none;
  margin: 0;
  padding: 0;
}

.main-form__block-wrapper {
  width: 100%;
  display: flex;
}

.main-form__label {
  flex-grow: 1;
  font-size: 16px;
  line-height: 18px;
  color: #222222;
  text-transform: uppercase;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 14px;

  &--radio {
    margin-left: 10px;
  }
}

.main-form__input {
  border: 1px solid #cdcdcd;
  min-height: 40px;
  width: 50%;
  flex-grow: 1;
  margin-left: 15px;
  padding-left: 15px;
}

.main-form__legend {
  font-size: 24px;
  line-height: 24px;
  color: #111111;
  padding: 0;
}

.main-form__textarea {
  width: 100%;
}

.main-form__submit {
  width: 100%;
}

.main-form__add {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: #444444;
  margin: 0;
}

@media (min-width: @mid-size) {
  .main-form__submit {
    width: 283px;
  }

  .main-form__block-wrapper {
    display: inline-block;
    width: 250px;
  }

  .main-form__bottom {
    display: flex;
  }
}

@media (min-width: @max-size) {
  .main-form__top {
    display: flex;
    margin: 0 auto;
    width: 1220px;
  }

  .main-form__top .wrapper {
    padding: 0;
    width: 570px;
  }

  .main-form__block-flex {
    display: inline;
  }
}
