.social-list {
  display: flex;
  justify-content: center;
  padding: 0;
}

.social-list__item {
  margin-left: 20px;
  margin-right: 20px;
}

.social-list__item span {
  display: none;
}

@media (min-width: @mid-size) {
  .social-list__item {
    margin-left: 15px;
    margin-right: 15px;
  }
}
