.wrapper {
  width: calc(100% - 40px);
  padding: 0 20px;
  overflow: hidden;
  position: relative;

  &--center {
    text-align: center;
  }

  &--form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

@media (min-width: @mid-size) {
  .wrapper {
    width: calc(100% - 60px);
    padding: 0 30px;

    &--flex {
      display: flex;
      justify-content: space-between;
    }

    &--header {
      width: 35%;
      padding-right: 0;
    }

    &--form {
      flex-direction: column;
    }
  }
}

@media (min-width: @max-size) {
  .wrapper {
    width: 1220px;
    padding: 0 calc(40px + (100% - 1300px) / 2);

    &--flex-max {
      display: flex;
      justify-content: space-between;
    }

    &--header {
      width: 494px;
      padding-right: 0;
      padding-left: calc(40px + (100% - 1300px) / 2);
    }

    &--form {
      padding-top: 20px;
    }
  }
}

@media (min-width: 1440px) {
  .wrapper {
    width: calc(100% - 220px);
    padding: 0 110px;

    &--header {
      width: 494px;
      padding-right: 0;
      padding-left: calc(40px + (100% - 1300px) / 2);
    }
  }
}
