.page-header {
  font-family: "Oswald", "Open Sans", sans-serif;
  border-bottom: 1px solid #ededed;
}
.page-header__top {
  min-height: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.page-header__top--nojs {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.page-header__logo:hover .page-header__img {
  opacity: 0.8;
}
.page-header__logo:active .page-header__img {
  opacity: 0.6;
}
.page-header__menu-button {
  padding: 0;
  border: none;
  background-color: #ffffff;
  cursor: pointer;
  width: 25px;
  height: 19px;
}
.page-header__menu-button--nojs {
  display: none;
}
.page-header__menu-button--closed {
  background: url("../img/icon-mobile-menu.svg") no-repeat;
}
.page-header__menu-button--opened {
  background: url("../img/icon-close.svg") no-repeat 50% 0;
}
@media (min-width: 768px) {
  .page-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 24px;
    border: none;
  }
  .page-header__img {
    width: 174px;
    height: 59px;
  }
  .page-header__menu-button {
    display: none;
  }
  .page-header__top {
    width: 175px;
  }
}
@media (min-width: 1300px) {
  .page-header {
    margin-top: 52px;
  }
  .page-header__top {
    width: auto;
  }
  .page-header__img {
    width: 203px;
    height: 60px;
  }
}
.wrapper {
  width: calc(100% - 40px);
  padding: 0 20px;
  overflow: hidden;
  position: relative;
}
.wrapper--center {
  text-align: center;
}
.wrapper--form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (min-width: 768px) {
  .wrapper {
    width: calc(100% - 60px);
    padding: 0 30px;
  }
  .wrapper--flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .wrapper--header {
    width: 35%;
    padding-right: 0;
  }
  .wrapper--form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (min-width: 1300px) {
  .wrapper {
    width: 1220px;
    padding: 0 calc(40px + (100% - 1300px) / 2);
  }
  .wrapper--flex-max {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .wrapper--header {
    width: 494px;
    padding-right: 0;
    padding-left: calc(40px + (100% - 1300px) / 2);
  }
  .wrapper--form {
    padding-top: 20px;
  }
}
@media (min-width: 1440px) {
  .wrapper {
    width: calc(100% - 220px);
    padding: 0 110px;
  }
  .wrapper--header {
    width: 494px;
    padding-right: 0;
    padding-left: calc(40px + (100% - 1300px) / 2);
  }
}
.main-top {
  padding-top: 27px;
  min-height: 472px;
  text-align: center;
  position: relative;
}
.main-top__title {
  color: #ffffff;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  margin: 0;
  margin-bottom: 25px;
}
.main-top__slogan {
  color: #ffffff;
  font-size: 14px;
  line-height: 14px;
  margin: 0;
  margin-bottom: 28px;
  text-transform: uppercase;
}
.main-top__button {
  width: 100%;
}
@media (min-width: 768px) {
  .main-top {
    text-align: left;
    padding-left: 90px;
    min-height: 800px;
    margin-top: 25px;
  }
  .main-top__title {
    color: #111111;
    font-size: 60px;
    line-height: 60px;
    width: 420px;
    margin-bottom: 42px;
  }
  .main-top__slogan {
    color: #111111;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
    margin-bottom: 48px;
  }
  .main-top__img {
    position: absolute;
    z-index: -1;
    width: 709px;
    bottom: -10px;
    left: 0;
  }
  a.main-top__button {
    width: 245px;
    height: 52px;
    font-size: 20px;
    line-height: 20px;
  }
}
@media (min-width: 1300px) {
  .main-top {
    min-height: 600px;
    margin-left: 80px;
    padding-left: 0;
  }
  .main-top__title {
    margin-top: 53px;
  }
  .main-top__slogan {
    margin-bottom: 51px;
  }
  .main-top__img {
    width: 552px;
    height: 500px;
    top: 0;
    right: 218px;
    left: auto;
    bottom: auto;
  }
}
.page-main {
  font-family: "Oswald", "Open Sans", sans-serif;
  position: relative;
}
.page-main::before {
  content: "";
  background: #63a73a url("../img/index-background-mobile@1x.jpg") no-repeat 50% 0;
  position: absolute;
  width: 100%;
  height: 305px;
  z-index: -1;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
  .page-main::before {
    background: #63a73a url("../img/index-background-mobile@2x.jpg") no-repeat 50% 0;
    background-size: 100% auto;
  }
}
@media (min-width: 768px) {
  .page-main::before {
    content: none;
  }
}
.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Oswald", "Open Sans", sans-serif;
  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #68b738;
  min-height: 40px;
}
.button:hover {
  background-color: #5eaa2f;
}
.button:active {
  background-color: #5eaa2f;
  color: rgba(255, 255, 255, 0.3);
}
.offer__block {
  background-color: #f2f2f2;
  padding: 20px;
  margin-bottom: 19px;
  position: relative;
}
.offer__title {
  color: #111111;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
  margin-top: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.offer__title::before {
  content: "";
  background-color: #68b738;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-right: 20px;
  margin-top: 3px;
}
.offer__title--slim::after {
  content: url("../img/icon-cat-slim.svg");
  width: 35px;
  height: 49px;
  position: absolute;
  left: 10px;
  top: 0;
}
.offer__title--grow::after {
  content: url("../img/icon-cat-pro.svg");
  width: 67px;
  height: 28px;
  position: absolute;
  left: -7px;
  top: 12px;
}
.offer__description {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  margin: 0;
  margin-top: 22px;
  padding-bottom: 20px;
  border-bottom: 1px solid #cdcdcd;
}
.offer__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
  text-transform: uppercase;
  color: #111111;
  padding-top: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.offer__link::after {
  content: "";
  background-image: url("../img/icon-right-arrow-long.svg");
  width: 25px;
  height: 12px;
  margin-left: 14px;
}
.offer__link:hover::after {
  content: "";
  background-image: url("../img/icon-right-arrow-verylong.svg");
  width: 34px;
  height: 12px;
  margin-left: 14px;
}
.offer__link:active::after,
.offer__link:active {
  opacity: 0.3;
}
@media (min-width: 768px) {
  .offer {
    margin-top: 10px;
  }
  .offer__block {
    min-height: 333px;
    margin-bottom: 28px;
  }
  .offer__title {
    font-size: 36px;
    line-height: 37px;
    margin-top: 57px;
    margin-left: 35px;
  }
  .offer__title::before {
    content: "";
    position: absolute;
    background-color: #68b738;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    right: 20px;
    top: 20px;
    margin-top: 0;
  }
  .offer__title--slim::after {
    width: 141px;
    height: 194px;
    left: auto;
    right: 70px;
    top: 5px;
  }
  .offer__title--grow::after {
    width: 268px;
    height: 113px;
    left: auto;
    right: 10px;
    top: 60px;
  }
  .offer__description {
    margin-left: 35px;
    margin-top: 27px;
    width: 56%;
    border: none;
    font-size: 16px;
    line-height: 24px;
  }
  .offer__description--grow {
    width: 51%;
  }
  .offer__link {
    font-size: 20px;
    line-height: 20px;
    margin-left: 35px;
    margin-top: 15px;
  }
  .offer__link::after {
    margin-left: 25px;
  }
}
@media (min-width: 1300px) {
  .offer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 6px;
  }
  .offer__block {
    width: 43.5%;
  }
  .offer__title {
    margin-top: 55px;
    margin-left: 194px;
  }
  .offer__title::before {
    content: "";
    position: absolute;
    background-color: #68b738;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    right: auto;
    top: -28px;
    left: -162px;
  }
  .offer__title--slim::after {
    width: 71px;
    height: 97px;
    left: -148px;
    right: auto;
    top: -35px;
  }
  .offer__title--grow::after {
    width: 134px;
    height: 57px;
    left: -178px;
    right: auto;
    top: -5px;
  }
  .offer__description {
    margin-top: 75px;
    width: auto;
    margin-right: 30px;
    margin-left: 33px;
    padding-bottom: 21px;
  }
  .offer__link {
    margin-top: 0;
    margin-left: 32px;
    padding-top: 10px;
  }
}
.advantages {
  margin-top: 30px;
  margin-bottom: 40px;
}
.advantages__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: #111111;
  margin: 0;
}
.advantages__list {
  list-style: none;
  padding: 0;
  margin-top: 42px;
}
.advantages__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  margin-bottom: 20px;
  position: relative;
}
.advantages__item span:first-of-type {
  display: none;
}
.advantages__item::before {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 60px;
  height: 60px;
  background-color: #68b738;
  margin-right: 20px;
}
.advantages__item--first::before {
  content: "";
  background-image: url("../img/advantage-leaf@1x.png");
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.advantages__item--second::before {
  content: "";
  background-image: url("../img/advantage-powder@1x.png");
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.advantages__item--third::before {
  content: "";
  background-image: url("../img/advantage-dining@1x.png");
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.advantages__item--fourth::before {
  content: "";
  background-image: url("../img/advantage-clock@1x.png");
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
  .advantages__item--first::before {
    content: "";
    background-image: url("../img/advantage-leaf@2x.png");
    background-size: 50px;
  }
  .advantages__item--second::before {
    content: "";
    background-image: url("../img/advantage-powder@2x.png");
    background-size: 50px;
  }
  .advantages__item--third::before {
    content: "";
    background-image: url("../img/advantage-dining@2x.png");
    background-size: 50px;
  }
  .advantages__item--fourth::before {
    content: "";
    background-image: url("../img/advantage-clock@2x.png");
    background-size: 50px;
  }
}
@media (min-width: 768px) {
  .advantages {
    margin-top: 45px;
    margin-bottom: 45px;
  }
  .advantages__title {
    font-size: 60px;
    line-height: 60px;
  }
  .advantages__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0;
  }
  .advantages__item {
    font-size: 16px;
    line-height: 24px;
    margin-top: 72px;
    margin-bottom: 10px;
    margin-right: 76px;
    width: 35%;
    min-height: 233px;
    background: none;
    padding-left: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .advantages__item--fourth span:not(:first-child) {
    display: inline-block;
    text-indent: -5px;
    padding-right: 8px;
  }
  .advantages__item span:first-child {
    display: block;
    font-family: "Oswald", "Open Sans", sans-serif;
    font-size: 281px;
    line-height: 281px;
    color: #f2f2f2;
    position: absolute;
    z-index: -1;
    top: -40px;
    right: 0;
  }
  .advantages__item:first-child span {
    right: 20px;
  }
  .advantages__item::before {
    min-width: 80px;
    height: 80px;
    margin-bottom: 33px;
  }
}
@media (min-width: 1300px) {
  .advantages {
    margin-top: 44px;
    margin-bottom: 0;
  }
  .advantages__title {
    margin: 0;
  }
  .advantages__item {
    width: 20%;
    margin-right: 0;
  }
  .advantages__item:not(:first-child) {
    margin-left: 81px;
  }
  .advantages__item:last-child {
    letter-spacing: -0.2px;
  }
  .advantages__item:last-child span {
    padding-right: 10px;
  }
}
.page-footer {
  background-color: #f2f2f2;
  min-width: 320px;
  min-height: 242px;
  margin: 0 auto;
  padding-top: 10px;
}
.page-footer__logo {
  display: block;
  padding: 32px 0;
  padding-bottom: 27px;
  border-bottom: 1px solid #cdcdcd;
}
.page-footer__logo img {
  height: 24px;
}
.page-footer__logo:hover {
  opacity: 0.8;
}
.page-footer__logo:active {
  opacity: 0.6;
}
.page-footer__social {
  margin: 0;
  padding: 21px 0;
  padding-right: 10px;
  border-bottom: 1px solid #cdcdcd;
}
.page-footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 22px 0;
}
.page-footer__bottom:hover svg {
  fill: #68b738;
}
.page-footer__bottom:active svg {
  opacity: 0.3;
}
.page-footer__bottom-academy {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 16px;
  color: #444444;
  text-decoration: none;
  margin-right: 23px;
  margin-bottom: 6px;
}
.page-footer__svg {
  fill: #666666;
}
@media (min-width: 768px) {
  .page-footer {
    min-height: 150px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 5px;
  }
  .page-footer__logo {
    border: none;
    padding-top: 13px;
  }
  .page-footer__social {
    border: none;
    padding-top: 0;
    padding-left: 32px;
    padding-right: 15px;
  }
  .page-footer__bottom-academy {
    margin-right: 14px;
    margin-bottom: 5px;
  }
  .page-footer__bottom {
    padding-top: 0;
  }
  .page-footer__bottom svg {
    width: 35px;
    height: 45px;
  }
}
@media (min-width: 1300px) {
  .page-footer {
    padding-top: 10px;
  }
  .page-footer__bottom {
    padding-bottom: 15px;
  }
  .page-footer__bottom-icon {
    padding-top: 3px;
  }
}
.catalog-main {
  font-family: "Oswald", "Open Sans", sans-serif;
}
.catalog-main__title {
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  color: #111111;
  margin: 0;
  margin-top: 15px;
  padding-bottom: 27px;
}
@media (min-width: 768px) {
  .catalog-main__title {
    font-size: 60px;
    margin-top: 53px;
  }
  .catalog-main__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: calc(100% - 60px);
    padding: 0 30px;
  }
}
@media (min-width: 1300px) {
  .catalog-main__title {
    margin-top: 70px;
  }
  .catalog-main__wrapper {
    width: 1220px;
    padding: 0 calc(40px + (100% - 1300px) / 2);
  }
}
@media (min-width: 1440px) {
  .catalog-main__wrapper {
    width: calc(100% - 220px);
    padding: 0 110px;
  }
}
.page-nav {
  display: none;
}
.page-nav--nojs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.page-nav__menu {
  font-size: 20px;
  line-height: 20px;
  color: #111111;
  text-transform: uppercase;
  list-style: none;
  padding: 0;
  margin: 0;
}
.page-nav__wrapper {
  width: 100%;
}
.page-nav__item {
  position: relative;
}
.page-nav__item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  font-family: "Oswald", "Open Sans", sans-serif;
  color: #111111;
  width: 100%;
  min-height: 65px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid #ededed;
}
.page-nav__item a:hover {
  opacity: 0.6;
}
.page-nav__item a:active {
  opacity: 0.3;
}
@media (min-width: 768px) {
  .page-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    margin-right: 30px;
    max-width: 480px;
  }
  .page-nav__item--active::after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: #68b738;
    position: absolute;
    bottom: 12px;
  }
  .page-nav__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .page-nav__item a {
    font-size: 18px;
    line-height: 25px;
    border: none;
  }
}
@media (min-width: 1300px) {
  .page-nav {
    margin-right: calc(40px + (100% - 1300px) / 2);
  }
  .page-nav__menu {
    line-height: 25px;
  }
  .page-nav__menu a {
    font-size: 20px;
  }
  .page-nav__menu--index a {
    color: #ffffff;
  }
  .page-nav__menu--index .page-nav__item--active::after {
    width: 68px;
    height: 2px;
    background-color: #ffffff;
    position: absolute;
    bottom: 10px;
  }
}
.catalog-card {
  border: 1px solid #ededed;
  border-bottom: none;
  padding: 0 20px;
  padding-bottom: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.catalog-card__description {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.catalog-card__title {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
  margin-top: 22px;
  width: 75px;
}
.catalog-card__title a {
  color: #111111;
  text-decoration: none;
  font-family: "Oswald", "Open Sans", sans-serif;
}
.catalog-card__list {
  list-style: none;
  padding: 0;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
  margin: 0;
  margin-top: 13px;
}
.catalog-card__list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.catalog-card__link {
  height: 144px;
}
.catalog-card__button {
  width: 100%;
  font-size: 16px;
}
@media (min-width: 768px) {
  .catalog-card {
    width: 324px;
    min-height: 568px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding: 0;
    background-image: linear-gradient(transparent 137px, #f2f2f2 137px);
    border: none;
    margin-bottom: 3px;
  }
  .catalog-card__description {
    padding: 0 38px;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    margin-top: 7px;
  }
  .catalog-card__title {
    font-size: 20px;
    text-align: center;
    width: 130px;
    margin: 0 auto;
    margin-top: 27px;
    margin-bottom: 20px;
  }
  .catalog-card__img {
    width: 324px;
    height: auto;
    max-width: 200%;
  }
  .catalog-card__link {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    height: auto;
  }
  .catalog-card__list {
    margin: 0;
    margin-bottom: 20px;
  }
  .catalog-card__list-item {
    font-size: 16px;
    border-bottom: 1px solid #cdcdcd;
    padding-top: 7px;
    padding-bottom: 7px;
  }
  .catalog-card__button {
    font-size: 16px;
    margin: 14px 38px 40px;
    width: calc(100% - 76px);
  }
}
@media (min-width: 1300px) {
  .catalog-card {
    width: 245px;
    margin-left: 50px;
    margin-bottom: 7px;
  }
  .catalog-card:nth-of-type(4n + 1) {
    margin-left: 0;
  }
  .catalog-card__img {
    width: 245px;
  }
}
.catalog-addition {
  border: 1px solid #ededed;
  text-align: center;
  padding: 25px 20px;
  position: relative;
}
.catalog-addition::before,
.catalog-addition::after {
  content: "";
  width: 31px;
  height: 2px;
  background-color: #222222;
  opacity: 0.2;
  position: absolute;
  top: 41px;
  left: calc(50% - 15px);
}
.catalog-addition::before {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
.catalog-addition__title {
  font-size: 16px;
  line-height: 20px;
  color: #111111;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
  margin-top: 55px;
}
.catalog-addition__title + p {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
  margin: 0;
  margin-top: 10px;
}
.catalog-addition__button {
  width: 100%;
  margin-top: 20px;
  font-size: 16px;
}
.catalog-addition__button--style {
  background-color: #f2f2f2;
  color: #444444;
}
.catalog-addition__button:hover {
  background-color: #ebebeb;
}
.catalog-addition__button:active {
  color: rgba(68, 68, 68, 0.3);
}
@media (min-width: 768px) {
  .catalog-addition {
    width: 248px;
    min-height: 350px;
    margin-bottom: 3px;
    padding: 38px;
  }
  .catalog-addition::before,
  .catalog-addition::after {
    width: 60px;
    height: 1px;
    top: 82px;
    left: calc(50% - 30px);
  }
  .catalog-addition__title {
    font-size: 20px;
    margin: 0 auto;
    margin-top: 122px;
    width: 150px;
  }
  .catalog-addition__title + p {
    font-size: 16px;
    margin: 0 auto;
    margin-top: 28px;
    width: 170px;
  }
  .catalog-addition__button {
    margin-top: 88px;
    font-size: 16px;
  }
}
@media (min-width: 1300px) {
  .catalog-addition {
    width: 170px;
    margin-left: 50px;
    margin-bottom: 6px;
  }
  .catalog-addition__title + p {
    line-height: 19px;
    margin-top: 24px;
  }
}
body {
  padding: 0;
  margin: 0;
  min-width: 320px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
}
img {
  max-width: 100%;
  height: auto;
}
@font-face {
  font-family: "Oswald";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/oswaldregular.woff2") format("woff2"), url("../fonts/oswaldregular.woff") format("woff");
}
@font-face {
  font-family: "Oswald";
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/oswaldmedium.woff2") format("woff2"), url("../fonts/oswaldmedium.woff") format("woff");
}
.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
}
.social-list__item {
  margin-left: 7%;
  margin-right: 7%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.social-list__item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #666666;
}
.social-list__item a:hover {
  color: #68b738;
}
.social-list__item a:active {
  opacity: 0.3;
}
.social-list__item span {
  display: none;
}
.social-list__item--insta {
  margin-left: 6.5%;
  margin-right: 7.5%;
}
.social-list__svg {
  fill: currentColor;
}
@media (min-width: 768px) {
  .social-list__item {
    margin-left: 15px;
    margin-right: 15px;
  }
  .social-list__item:first-child {
    margin-right: 14px;
  }
  .social-list__item--vk svg {
    width: 30px;
    height: 16px;
  }
  .social-list__item--insta svg {
    width: 23px;
    height: 23px;
  }
  .social-list__item--fb svg {
    width: 14px;
    height: 28px;
  }
}
.example {
  background-color: #f2f2f2;
  padding-top: 18px;
  padding-bottom: 35px;
  border-top: solid 1px #f2f2f2;
}
.example__wrapper {
  width: 280px;
  margin: 0 auto;
  padding: 0 20px;
}
.example__title {
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  color: #111111;
  margin: 0;
}
.example__description {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  margin: 0;
  margin-top: 22px;
  margin-bottom: 25px;
  width: 267px;
}
.example__indicators-wrapper {
  text-align: center;
  margin-bottom: 32px;
}
.example__indicators {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 9px;
}
.example__indicator {
  text-align: center;
  width: 44%;
  min-height: 56px;
  border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.example__indicator-unit {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
  color: #444444;
  padding: 0 15px;
  width: 57px;
  z-index: 2;
  background-color: #f2f2f2;
  margin-top: -10px;
}
.example__indicator-value {
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  text-transform: uppercase;
  color: #111111;
  margin: 0;
  border: 1px solid #cdcdcd;
  padding: 15px;
  width: 92px;
}
.example__cost {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #111111;
  text-transform: uppercase;
  margin: 0;
}
@media (min-width: 768px) {
  .example {
    background-color: #ffffff;
    padding-top: 42px;
  }
  .example__wrapper {
    width: 708px;
    padding: 0 30px;
  }
  .example__title {
    font-size: 60px;
    line-height: 60px;
  }
  .example__description {
    margin-top: 65px;
    margin-bottom: 54px;
    width: 97%;
    font-size: 16px;
    line-height: 24px;
  }
  .example__indicators-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 61px;
  }
  .example__indicators {
    width: 51.5%;
    margin-bottom: 0;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .example__indicator {
    min-height: 65px;
    padding-bottom: 5px;
  }
  .example__indicator-unit {
    background-color: #ffffff;
    width: auto;
    font-size: 14px;
    line-height: 14px;
    padding: 0 8px;
  }
  .example__indicator-value {
    font-size: 30px;
    line-height: 37px;
    width: 81%;
    padding-bottom: 20px;
  }
  .example__cost {
    font-size: 20px;
    line-height: 30px;
    width: 26%;
    padding-top: 5px;
    text-align: right;
  }
}
@media (min-width: 1300px) {
  .example {
    background: -webkit-gradient(linear, left bottom, left top, color-stop(77%, #f2f2f2), color-stop(77%, #ffffff));
    background: linear-gradient(0deg, #f2f2f2 77%, #ffffff 77%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border: none;
    padding-top: 10px;
    padding-bottom: 23px;
  }
  .example__wrapper {
    width: 550px;
    padding: 0 110px;
    padding-left: calc(40px + (100% - 1300px) / 2);
  }
  .example__title {
    margin-top: 55px;
  }
  .example__description {
    margin-top: 146px;
    margin-bottom: 70px;
    width: 95%;
  }
  .example__indicators {
    width: 80%;
  }
  .example__indicators-wrapper {
    margin-bottom: 0;
  }
  .example__indicator-unit {
    background-color: #f2f2f2;
  }
  .example__cost {
    width: 71%;
    padding-top: 32px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .example__indicator-value {
    padding-bottom: 18px;
  }
}
.example-slider {
  text-align: center;
}
.example-slider__tumblers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 57px;
  margin-right: 54px;
  padding-top: 27px;
}
.example-slider__button {
  font-size: 16px;
  line-height: 20px;
  font-family: "Oswald", "Open Sans", sans-serif;
  color: #111111;
  text-transform: uppercase;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: inherit;
}
.example-slider__wrapper {
  width: 100%;
  padding: 0;
}
.example-slider__range {
  width: 84px;
  height: 12px;
  border: 1px solid #cdcdcd;
  border-radius: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffffff;
}
.example-slider__range-fat,
.example-slider__range-slim {
  width: 35px;
  height: 6px;
  margin: 5px;
  background-color: #68b738;
  border-radius: 3px;
  border: none;
  cursor: pointer;
}
.example-slider__range-slim {
  display: none;
}
@media (min-width: 768px) {
  .example-slider {
    background-color: #eaeaea;
  }
  .example-slider__wrapper {
    padding-bottom: 65px;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(26.5%, #ffffff), color-stop(26.5%, #f2f2f2));
    background-image: linear-gradient(#ffffff 26.5%, #f2f2f2 26.5%);
  }
  .example-slider__img {
    width: 690px;
    height: 517px;
    margin-left: 12px;
  }
  .example-slider__tumblers {
    margin: 0 80px;
    padding-top: 8px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 36px;
  }
  .example-slider__button {
    font-size: 20px;
    line-height: 20px;
    border-bottom: 1px dotted rgba(0, 0, 0, 0.23);
    padding: 0;
    padding-bottom: 5px;
    margin-right: 20px;
    margin-left: 20px;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    background-color: inherit;
    cursor: pointer;
  }
  .example-slider__range {
    width: 75%;
    height: 6px;
    border: none;
    border-radius: 3px;
    background-color: #dcdcdc;
    position: relative;
  }
  .example-slider__range-fat {
    padding: 4px;
    position: absolute;
    top: -18px;
    left: calc(50% - 20px);
    width: 8px;
    height: 8px;
    background-color: #68b738;
    border-radius: 50%;
    border: 12px solid #ffffff;
    -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.15), 0 2px 5px 0 rgba(0, 0, 0, 0.15);
            box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.15), 0 2px 5px 0 rgba(0, 0, 0, 0.15);
  }
}
@media (min-width: 1300px) {
  .example-slider {
    background-color: inherit;
  }
  .example-slider__wrapper {
    width: 690px;
    padding-top: 0;
    padding-bottom: 42px;
    text-align: left;
    background-image: none;
  }
  .example-slider__img {
    margin: 0;
  }
  .example-slider__tumblers {
    margin-left: 60px;
    margin-right: calc(20px + (98.7vw - 1300px) / 2);
    padding-top: 32px;
    padding-right: 10px;
  }
  .example-slider__button {
    padding-bottom: 6px;
    padding-top: 5px;
  }
  .example-slider__range {
    width: 75%;
  }
}
.page-map {
  position: relative;
}
.page-map--catalog,
.page-map--form {
  background-color: #f2f2f2;
}
.page-map__info {
  padding-top: 27px;
  padding-bottom: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.page-map__invite {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #111111;
  text-transform: uppercase;
  margin: 0;
  min-width: 124px;
}
.page-map__address {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #444444;
  margin: 0;
  margin-left: 19px;
}
.page-map__block {
  width: 100%;
  margin: 0 auto;
  position: relative;
}
.page-map__iframe {
  display: block;
  width: 100%;
  height: 360px;
  padding: 0;
  margin: 0;
}
.page-map__img {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  margin: 0;
  padding: 0;
}
@media (min-width: 768px) {
  .page-map__block,
  .page-map__iframe {
    width: 100%;
  }
  .page-map__info {
    padding: 30px 42px 60px 40px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .page-map__invite {
    font-size: 20px;
    line-height: 25px;
    width: 26%;
  }
  .page-map__address {
    width: 25%;
    min-height: 78px;
    text-align: right;
    font-size: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .page-map__iframe {
    height: 400px;
  }
  .page-map__img {
    width: 767px;
  }
  .page-map--catalog,
  .page-map--form {
    padding-top: 36px;
  }
}
@media (min-width: 1300px) {
  .page-map__block,
  .page-map__iframe {
    width: 100%;
  }
  .page-map__img {
    width: 1300px;
  }
  .page-map__info {
    position: absolute;
    background-color: #ffffff;
    z-index: 2;
    top: 99px;
    left: 40px;
    padding-top: 60px;
    padding-left: 76px;
    padding-right: 0;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 494px;
  }
  .page-map__invite {
    width: 33%;
  }
  .page-map__address {
    text-align: left;
    width: 35%;
    margin-left: 86px;
  }
  .page-map .wrapper {
    overflow: visible;
  }
  .page-map--catalog,
  .page-map--form {
    padding-top: 0;
  }
}
.visually-hidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
.catalog-plus {
  padding-top: 27px;
}
.catalog-plus__title {
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: #111111;
  margin: 0;
  display: inline-block;
  position: relative;
  width: 100%;
}
.catalog-plus__title::after {
  content: "";
  height: 3px;
  width: 23.5%;
  background-color: #68b738;
  display: inline-block;
  position: absolute;
  top: 55%;
  right: -32px;
}
.catalog-plus__list {
  list-style: none;
  padding: 0;
  margin-top: 29px;
  margin-bottom: 40px;
}
.catalog-plus__item {
  border-top: 1px solid #cdcdcd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.catalog-plus__name {
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  text-transform: uppercase;
  color: #222222;
  margin: 14px 0 13px;
}
.catalog-plus__description {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: #444444;
  margin: 0;
  margin-bottom: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}
.catalog-plus__button {
  width: 100%;
  margin-bottom: 17px;
  font-size: 16px;
  line-height: 20px;
}
@media (min-width: 768px) {
  .catalog-plus {
    padding-top: 64px;
  }
  .catalog-plus__title {
    font-size: 36px;
    line-height: 36px;
    margin-left: 35px;
  }
  .catalog-plus__title::before {
    content: "";
    height: 3px;
    width: 5%;
    background-color: #68b738;
    display: inline-block;
    position: absolute;
    top: 60%;
    left: -75px;
  }
  .catalog-plus__title::after {
    content: "";
    height: 3px;
    width: 51.5%;
    background-color: #68b738;
    display: inline-block;
    position: absolute;
    top: 60%;
    right: -32px;
  }
  .catalog-plus__list {
    margin-top: 77px;
    margin-bottom: 70px;
  }
  .catalog-plus__item {
    padding: 28px 36px;
    padding-bottom: 11px;
    border-left: 1px solid #cdcdcd;
    border-right: 1px solid #cdcdcd;
  }
  .catalog-plus__item:last-child {
    border-bottom: 1px solid #cdcdcd;
  }
  .catalog-plus__name {
    margin-top: 0;
    margin-bottom: 26px;
    font-size: 20px;
  }
  .catalog-plus__description {
    width: auto;
    font-size: 16px;
    line-height: 20px;
  }
  .catalog-plus__unit {
    margin-left: 51px;
  }
  .catalog-plus__unit:last-child {
    width: 45px;
    text-align: right;
  }
}
@media (min-width: 1300px) {
  .catalog-plus {
    width: 895px;
    padding-top: 67px;
  }
  .catalog-plus__title {
    margin: 0;
  }
  .catalog-plus__title::before {
    width: 9%;
    top: 63%;
    left: -120px;
  }
  .catalog-plus__title::after {
    width: 110%;
    top: 63%;
    right: -463px;
  }
  .catalog-plus__list {
    margin-bottom: 85px;
  }
  .catalog-plus__item {
    padding: 0;
    border-left: none;
    border-right: none;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-height: 71px;
  }
  .catalog-plus__name {
    width: 170px;
    margin: 0;
    margin-right: 105px;
  }
  .catalog-plus__description {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    margin: 0;
    margin-top: 8px;
  }
  .catalog-plus__unit:last-child {
    text-align: left;
  }
  .catalog-plus__button {
    width: 245px;
    margin: 0;
    margin-left: 37px;
  }
}
.catalog-special {
  background: url("../img/gift-photo-mobile@1x.jpg") no-repeat 50% 0, linear-gradient(#7dc154 290px, #ffffff 290px);
  min-height: 260px;
  padding: 0 50px;
  padding-top: 65px;
  text-align: center;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  margin: 0 auto;
}
.catalog-special::before {
  content: url("../img/icon-gift.svg");
  display: block;
  width: 56px;
  height: 61px;
  margin: 0 auto;
  margin-bottom: 62px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
  .catalog-special {
    background: url("../img/gift-photo-mobile@2x.jpg") no-repeat 50% 0, linear-gradient(#7dc154 290px, #ffffff 290px);
    background-size: 100%;
  }
}
@media (min-width: 768px) {
  .catalog-special {
    background: url("../img/gift-photo-tablet@1x.jpg") no-repeat;
    padding-right: 110px;
    padding-left: 89px;
    padding-top: 0;
    min-height: 200px;
    text-align: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 74px;
  }
  .catalog-special::before {
    margin: 0;
    margin-bottom: 10px;
    margin-right: 278px;
    width: 56px;
    height: 61px;
    min-width: 56px;
  }
}
@media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 768px) and (min-resolution: 1.5dppx) {
  .catalog-special {
    background: url("../img/gift-photo-tablet@2x.jpg") no-repeat;
    background-size: 100%;
  }
}
@media (min-width: 1300px) {
  .catalog-special {
    background: url("../img/gift-photo-desktop@1x.jpg") no-repeat;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 185px;
    margin-top: 184px;
    margin-left: 80px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0 30px;
    text-align: center;
  }
  .catalog-special::before {
    margin: 0;
    margin-top: 64px;
    margin-bottom: 62px;
  }
}
@media (min-width: 1300px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 1300px) and (min-resolution: 1.5dppx) {
  .catalog-special {
    background: url("../img/gift-photo-desktop@2x.jpg") no-repeat;
    background-size: 100%;
  }
}
.form-page {
  font-family: "Oswald", "Open Sans", sans-serif;
  padding-top: 15px;
  text-align: left;
}
.form-page__title {
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  color: #111111;
  margin: 0;
  margin-bottom: 25px;
}
@media (min-width: 768px) {
  .form-page {
    padding-top: 53px;
  }
  .form-page__title {
    font-size: 60px;
    line-height: 60px;
  }
}
@media (min-width: 1300px) {
  .form-page {
    padding-top: 70px;
  }
}
.main-form {
  padding-bottom: 33px;
}
.main-form__top {
  margin-bottom: 28px;
}
.main-form__legend-title {
  font-size: 14px;
  line-height: 18px;
  color: #111111;
  text-transform: uppercase;
  padding: 0;
  margin-bottom: 40px;
  width: 230px;
}
.main-form__block-main,
.main-form__block-contacts,
.main-form__block-comment {
  border: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-bottom: 1px solid #ededed;
  padding-bottom: 10px;
}
.main-form__block-radio {
  border: none;
  border-bottom: 1px solid #ededed;
  margin: 0;
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 0;
  padding-bottom: 8px;
}
.main-form__radio,
.main-form__checkbox {
  display: none;
}
.main-form__radio:checked + label::before {
  background-color: #68b738;
  -webkit-box-shadow: 0 0 1px 8px #ffffff inset;
          box-shadow: 0 0 1px 8px #ffffff inset;
}
.main-form__checkbox:checked + label::before {
  content: url("../img/icon-tick.svg");
  width: 20px;
  height: 20px;
  padding: 6px 4px 2px;
}
.main-form__block-contacts {
  margin-bottom: 5px;
  border-bottom: none;
}
.main-form__block-contacts legend {
  position: relative;
}
.main-form__block-contacts legend::after {
  position: absolute;
  content: "";
  height: 3px;
  width: 50%;
  background-color: #68b738;
  top: 14px;
  right: -60px;
}
.main-form__block-comment {
  border-bottom: none;
  padding-bottom: 28px;
}
.main-form__block-comment .main-form__legend {
  display: block;
  margin-top: 10px;
  position: relative;
}
.main-form__block-comment .main-form__legend::after {
  position: absolute;
  content: "";
  height: 3px;
  width: 150%;
  background-color: #68b738;
  top: 14px;
  right: -200px;
}
.main-form__block-checkbox {
  border: none;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
}
.main-form__title {
  margin: 0;
  margin-bottom: 34px;
  position: relative;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: #111111;
  width: 90%;
}
.main-form__title::after {
  position: absolute;
  content: "";
  height: 3px;
  width: 100%;
  background-color: #68b738;
  top: 14px;
  right: -165px;
}
.main-form__block-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.main-form__label {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  font-size: 16px;
  line-height: 18px;
  color: #222222;
  text-transform: uppercase;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 14px;
}
.main-form__label--radio {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 13px;
}
.main-form__label--radio::before {
  content: "";
  width: 28px;
  height: 28px;
  border: 1px solid #cdcdcd;
  border-radius: 50%;
  margin-right: 15px;
}
.main-form__label--checkbox {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 13px;
}
.main-form__label--checkbox::before {
  content: "";
  width: 28px;
  height: 28px;
  border: 1px solid #cdcdcd;
  margin-right: 17px;
}
.main-form__input {
  border: 1px solid #cdcdcd;
  min-height: 40px;
  width: 50%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-left: 15px;
  padding-left: 14px;
}
.main-form__input::-webkit-input-placeholder {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
  font-family: "Oswald", "Open Sans", sans-serif;
}
.main-form__input::-moz-placeholder {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
  font-family: "Oswald", "Open Sans", sans-serif;
}
.main-form__input:-ms-input-placeholder {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
  font-family: "Oswald", "Open Sans", sans-serif;
}
.main-form__input::-ms-input-placeholder {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
  font-family: "Oswald", "Open Sans", sans-serif;
}
.main-form__input::placeholder {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
  font-family: "Oswald", "Open Sans", sans-serif;
}
.main-form__input--mail {
  background: url("../img/icon-mail.svg") no-repeat right 15px bottom 50%;
  background-size: 18px auto;
  padding-right: 40px;
  padding-left: 13px;
  margin-left: 12px;
}
.main-form__input--tele {
  background: url("../img/icon-phone.svg") no-repeat right 12px bottom 50%;
  background-size: 21px auto;
  padding-right: 40px;
  margin-left: 10px;
}
.main-form__legend {
  font-size: 24px;
  line-height: 24px;
  color: #111111;
  padding: 0;
  margin-bottom: 35px;
}
.main-form__textarea {
  padding: 14px;
  width: 90%;
  height: 120px;
  resize: vertical;
}
.main-form__textarea::-webkit-input-placeholder {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
  font-family: "Oswald", "Open Sans", sans-serif;
  color: #444444;
}
.main-form__textarea::-moz-placeholder {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
  font-family: "Oswald", "Open Sans", sans-serif;
  color: #444444;
}
.main-form__textarea:-ms-input-placeholder {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
  font-family: "Oswald", "Open Sans", sans-serif;
  color: #444444;
}
.main-form__textarea::-ms-input-placeholder {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
  font-family: "Oswald", "Open Sans", sans-serif;
  color: #444444;
}
.main-form__textarea::placeholder {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
  font-family: "Oswald", "Open Sans", sans-serif;
  color: #444444;
}
.main-form__bottom {
  text-align: center;
}
.main-form__submit {
  width: 100%;
  padding: 0;
  margin-bottom: 21px;
  border: none;
  font-size: 16px;
  line-height: 20px;
}
.main-form__add {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: #444444;
  margin: 0;
}
@media (min-width: 768px) {
  .main-form {
    padding-bottom: 70px;
  }
  .main-form__top {
    margin-bottom: 55px;
  }
  .main-form__block-wrapper {
    display: inline-block;
  }
  .main-form__block-main {
    padding: 0 40px 10px;
    border-bottom: none;
  }
  .main-form__legend-title {
    font-size: 20px;
    line-height: 30px;
    margin-top: 30px;
    margin-bottom: 66px;
    width: 325px;
  }
  .main-form__label {
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 20px;
    margin-top: 0;
  }
  .main-form__label--radio::before {
    width: 38px;
    height: 38px;
    margin-right: 20px;
  }
  .main-form__label--checkbox::before {
    width: 38px;
    height: 38px;
  }
  .main-form__input {
    min-height: 42px;
    padding-top: 7px;
    margin-left: 20px;
  }
  .main-form__input::-webkit-input-placeholder {
    font-size: 20px;
    line-height: 20px;
  }
  .main-form__input::-moz-placeholder {
    font-size: 20px;
    line-height: 20px;
  }
  .main-form__input:-ms-input-placeholder {
    font-size: 20px;
    line-height: 20px;
  }
  .main-form__input::-ms-input-placeholder {
    font-size: 20px;
    line-height: 20px;
  }
  .main-form__input::placeholder {
    font-size: 20px;
    line-height: 20px;
  }
  .main-form__input--mail {
    background: url("../img/icon-mail.svg") no-repeat right 19px bottom 50%;
    background-size: 18px auto;
    padding-right: 40px;
    padding-left: 19px;
    margin-left: 22px;
  }
  .main-form__input--tele {
    background: url("../img/icon-phone.svg") no-repeat right 16px bottom 50%;
    background-size: 21px auto;
    padding-right: 40px;
    padding-left: 19px;
    margin-left: 17px;
  }
  .main-form__block-radio {
    margin-top: 42px;
    padding-bottom: 15px;
    border-bottom: none;
  }
  .main-form__block-radio .wrapper--form {
    margin-left: 71px;
    margin-right: 67px;
    padding-top: 24px;
    padding-right: 0;
    padding-left: 25px;
    padding-bottom: 10px;
    border: 1px solid #cdcdcd;
    width: calc(100% - 165px);
  }
  .main-form__block-radio input {
    display: none;
  }
  .main-form__block-radio .main-form__label {
    margin-top: 0;
    margin-bottom: 13px;
  }
  .main-form__radio:checked + label::before {
    background-color: #68b738;
    -webkit-box-shadow: 0 0 1px 10px #ffffff inset;
            box-shadow: 0 0 1px 10px #ffffff inset;
  }
  .main-form__block-contacts {
    margin-top: 5px;
    margin-bottom: 45px;
    padding: 0 36px;
  }
  .main-form__block-contacts legend {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 77px;
  }
  .main-form__block-contacts legend::before {
    position: absolute;
    content: "";
    height: 3px;
    width: 30%;
    background-color: #68b738;
    top: 23px;
    left: -190px;
  }
  .main-form__block-contacts legend::after {
    position: absolute;
    content: "";
    height: 3px;
    width: 50%;
    background-color: #68b738;
    top: 23px;
    right: -300px;
  }
  .main-form__block-comment {
    padding: 0 40px;
    margin-bottom: 64px;
  }
  .main-form__block-comment .main-form__legend {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 76px;
  }
  .main-form__block-comment .main-form__legend::before {
    position: absolute;
    content: "";
    height: 3px;
    width: 30%;
    background-color: #68b738;
    top: 22px;
    left: -94px;
  }
  .main-form__block-comment .main-form__legend::after {
    position: absolute;
    content: "";
    height: 3px;
    width: 350%;
    background-color: #68b738;
    top: 22px;
    right: -670px;
  }
  .main-form__textarea {
    padding: 10px 18px;
    width: 94.5%;
    height: 152px;
  }
  .main-form__textarea::-webkit-input-placeholder {
    font-size: 20px;
    line-height: 30px;
  }
  .main-form__textarea::-moz-placeholder {
    font-size: 20px;
    line-height: 30px;
  }
  .main-form__textarea:-ms-input-placeholder {
    font-size: 20px;
    line-height: 30px;
  }
  .main-form__textarea::-ms-input-placeholder {
    font-size: 20px;
    line-height: 30px;
  }
  .main-form__textarea::placeholder {
    font-size: 20px;
    line-height: 30px;
  }
  .main-form__block-checkbox {
    padding-left: 40px;
    margin-bottom: 23px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .main-form__block-checkbox .main-form__checkbox:checked + label::before {
    width: 22px;
    height: 22px;
    padding: 8px;
  }
  .main-form__block-checkbox .main-form__block-wrapper {
    margin-bottom: 12px;
    padding-left: 0;
    width: 41%;
  }
  .main-form__block-checkbox .main-form__block-wrapper:nth-of-type(2n) {
    width: 39%;
    margin-left: 69px;
  }
  .main-form__title {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 57px;
    width: 90%;
    position: relative;
  }
  .main-form__title::before {
    position: absolute;
    content: "";
    height: 3px;
    width: 50px;
    background-color: #68b738;
    top: 23px;
    left: -90px;
  }
  .main-form__title::after {
    position: absolute;
    content: "";
    height: 3px;
    width: 100%;
    background-color: #68b738;
    top: 23px;
    right: -250px;
  }
  .main-form__bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 40px;
  }
  .main-form__submit {
    width: 283px;
    min-height: 52px;
    margin: 0;
    font-size: 20px;
    line-height: 20px;
  }
  .main-form__add {
    font-size: 16px;
    line-height: 16px;
    margin-left: 60px;
  }
}
@media (min-width: 1300px) {
  .main-form {
    padding-bottom: 80px;
  }
  .main-form__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    margin: 0 auto;
    width: 1220px;
  }
  .main-form__top .wrapper {
    width: 570px;
  }
  .main-form__block-flex {
    display: inline;
  }
  .main-form__block-main {
    padding: 0;
  }
  .main-form__block-main .wrapper {
    padding: 0;
  }
  .main-form__block-radio {
    margin: 0;
    margin-left: 78px;
    padding-bottom: 20px;
  }
  .main-form__block-radio .wrapper {
    margin: 0;
    padding: 0;
    padding-top: 25px;
    padding-bottom: 13px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .main-form__block-radio .main-form__label {
    margin-bottom: 12px;
  }
  .main-form__block-wrapper {
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 28px;
  }
  .main-form__block-contacts {
    padding: 0;
    margin-top: 48px;
    margin-bottom: 47px;
    display: block;
  }
  .main-form__block-contacts legend::before {
    left: -193px;
  }
  .main-form__block-contacts legend::after {
    width: 200%;
    right: -1065px;
  }
  .main-form__block-contacts .main-form__label {
    width: 49.5%;
    display: inline-block;
  }
  .main-form__block-contacts .main-form__label:last-of-type {
    margin-left: 37px;
    width: 47%;
  }
  .main-form__input--mail {
    margin-left: 16px;
    width: 70%;
  }
  .main-form__input--tele {
    margin-left: 13px;
    width: 71.5%;
  }
  .main-form__block-comment {
    padding: 0;
    margin-bottom: 66px;
  }
  .main-form__block-comment .main-form__legend::before {
    left: -150px;
    width: 60%;
  }
  .main-form__block-comment .main-form__legend::after {
    width: 800%;
    right: -1478px;
  }
  .main-form__textarea {
    width: 97%;
  }
  .main-form__block-checkbox {
    padding: 0;
    margin-bottom: 30px;
  }
  .main-form__block-checkbox .main-form__block-wrapper {
    width: 21%;
    margin-right: 67px;
  }
  .main-form__block-checkbox .main-form__block-wrapper:nth-of-type(2n) {
    width: 21.5%;
    margin-left: 0;
    margin-right: 64px;
  }
  .main-form__block-checkbox .main-form__block-wrapper:last-of-type {
    width: 15%;
    margin-right: 0;
  }
  .main-form__title {
    width: 90%;
  }
  .main-form__title::before {
    left: -130px;
    width: 90px;
  }
  .main-form__title::after {
    width: 100%;
    right: -250px;
  }
  .main-form__bottom {
    margin: 0;
  }
  .main-form__submit {
    width: 568px;
  }
  .main-form__add {
    margin-left: 82px;
  }
}
.index-body {
  margin: 0;
}
@media (min-width: 1300px) {
  .index-body {
    background: #ffffff url("../img/index-background-desktop@1x.jpg") no-repeat 112% 0;
    background-size: 55.3%;
  }
}
@media (min-width: 1300px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 1300px) and (min-resolution: 1.5dppx) {
  .index-body {
    background: #ffffff url("../img/index-background-desktop@2x.jpg") no-repeat 112% 0;
    background-size: 55.3%;
  }
}

/*# sourceMappingURL=style.css.map */
